<div class="main">
  <div class="heading">
    <h1>Solutions We Deliver</h1>
    <p>We IT-enable all kinds of B2B, B2C interactions and internal operations.</p>
  </div>

  <div class="cards">
    <div class="card">
    <img class="card__image" src="https://avatars.mds.yandex.net/i?id=f24c80043e2f291c366a4fbdbd8a5f0aa4c6a6bb-10996738-images-thumbs&n=13" alt="Card Illustration">
    <div class="card__content">
      <p class="card__title">Enterprise applications</p>
      <p class="card__description">
        Enterprise applications are large-scale software systems used to support and automate business operations.
      </p>
    </div>
  </div>
  <div class="card">
    <img class="card__image" src="https://avatars.mds.yandex.net/i?id=cd2ca8686e6f4ddde115511b486e9e38f5daa370-12011291-images-thumbs&n=13" alt="Card Illustration">
    <div class="card__content">
      <p class="card__title">ERP</p>
      <p class="card__description">
        ERP (Enterprise Resource Planning) is a software system that integrates core business processes like finance,
      </p>
    </div>
  </div>
  <div class="card">
    <img class="card__image" src="https://avatars.mds.yandex.net/i?id=2eb669362acb1e5a74d788ec33efe68925f00b90-5232974-images-thumbs&n=13" alt="Card Illustration">
    <div class="card__content">
      <p class="card__title">CRM</p>
      <p class="card__description">
        CRM (Customer Relationship Management) is a software system that helps businesses manage interactions
      </p>
    </div>
  </div>
  <div class="card">
    <img class="card__image" src="https://avatars.mds.yandex.net/i?id=0c6fb92e1223c1f02d03e05e9cad543c081ff73a-4273750-images-thumbs&n=13" alt="Card Illustration">
    <div class="card__content">
      <p class="card__title">HR Software</p>
      <p class="card__description">
        HR software is a system that streamlines and automates human resource tasks like recruitment, payroll
      </p>
    </div>
  </div>
  </div>
  <div class="cards">
    <div class="card">
    <img class="card__image" src="https://avatars.mds.yandex.net/i?id=7e8d49614863650994258c4b58f1be0d18758f3a-4798081-images-thumbs&n=13" alt="Card Illustration">
    <div class="card__content">
      <p class="card__title">eLearning Software</p>
      <p class="card__description">
       eLearning software is a digital platform that delivers, manages, and tracks online education and training programs.
      </p>
    </div>
  </div>
  <div class="card">
    <img class="card__image" src="https://avatars.mds.yandex.net/i?id=d72b3d2d4158b79f74af7ea501ccf8f5fa9b4111-10122395-images-thumbs&n=13" alt="Card Illustration">
    <div class="card__content">
      <p class="card__title">eCommerce</p>
      <p class="card__description">
        eCommerce software enables businesses to buy and sell products or services online through digital
      </p>
    </div>
  </div>
  <div class="card">
    <img class="card__image" src="https://avatars.mds.yandex.net/i?id=3f387d279d28219d48e96b890dbdb3c3a36941a6-5233858-images-thumbs&n=13" alt="Card Illustration">
    <div class="card__content">
      <p class="card__title">Mobile App</p>
      <p class="card__description">
        Mobile apps are software applications designed to run on smartphones and tablets, providing specific
      </p>
    </div>
  </div>
  <div class="card">
    <img class="card__image" src="https://avatars.mds.yandex.net/i?id=09b74882d9e130e2ef615329d45a8e47fd4519a0-10675382-images-thumbs&n=13" alt="Card Illustration">
    <div class="card__content">
      <p class="card__title">Collabration and Productivity</p>
      <p class="card__description">
      Collaboration and productivity software enables teams to communicate, share files, and manage tasks
      </p>
    </div>
  </div>
  </div>
  <div class="cards">
    <div class="card">
    <img class="card__image" src="https://avatars.mds.yandex.net/i?id=3f779a977449a8dead823a0466b9429b1ffdde4e-10438698-images-thumbs&n=13" alt="Card Illustration">
    <div class="card__content">
      <p class="card__title">Fleet Management Software</p>
      <p class="card__description">
       Fleet Management Software is a digital platform or system designed to help businesses manage
      </p>
    </div>
  </div>
  <div class="card">
    <img class="card__image" src="https://avatars.mds.yandex.net/i?id=95659475776c6089e9d938fecce1c9c63ccc81f0-3450463-images-thumbs&n=13" alt="Card Illustration">
    <div class="card__content">
      <p class="card__title">Data Analytics</p>
      <p class="card__description">
        Data Analytics is the process of examining, cleaning, transforming, and modeling data to discover useful
      </p>
    </div>
  </div>
  <div class="card">
    <img class="card__image" src="https://avatars.mds.yandex.net/i?id=97f68bb613da04fb87adf98ce092d8e36480c0fe-5129481-images-thumbs&n=13" alt="Card Illustration">
    <div class="card__content">
      <p class="card__title">Web Portals</p>
      <p class="card__description">
       A Web Portal is a secure, web-based platform that serves as a centralized access point for information
      </p>
    </div>
  </div>
  <div class="card">
    <img class="card__image" src="https://avatars.mds.yandex.net/i?id=e89545eaf63e9cc79c7a6a58b73fe85df944758b-8196710-images-thumbs&n=13" alt="Card Illustration">
    <div class="card__content">
      <p class="card__title">ITSM</p>
      <p class="card__description">
      ITSM (IT Service Management) refers to the strategic approach organizations use to design deliver.
      </p>
    </div>
  </div>
  </div>
  
</div>

