<div class="main">
   <div class="heading">
    <h1>Solutions We Deliver</h1>
    <p>We IT-enable all kinds of B2B, B2C interactions and internal operations.</p>
  </div>
  <div class="cards">
    <div class="card">
    <img class="card__image" src="./assets/de1.png" alt="Card Illustration">
    <div class="card__content">
      <p class="card__title">Enterprise applications</p>
      <p class="card__description">
        Enterprise applications are large-scale software systems used to support and automate business operations.
      </p>
    </div>
  </div>
  <div class="card">
    <img class="card__image" src="./assets/de2.png" alt="Card Illustration">
    <div class="card__content">
      <p class="card__title">ERP</p>
      <p class="card__description">
        ERP (Enterprise Resource Planning) is a software system that integrates core business processes like finance,
      </p>
    </div>
  </div>
  <div class="card">
    <img class="card__image" src="./assets/de3.png" alt="Card Illustration">
    <div class="card__content">
      <p class="card__title">CRM</p>
      <p class="card__description">
        CRM (Customer Relationship Management) is a software system that helps businesses manage interactions
      </p>
    </div>
  </div>
  <div class="card">
    <img class="card__image" src="./assets/de4.png" alt="Card Illustration">
    <div class="card__content">
      <p class="card__title">HR Software</p>
      <p class="card__description">
        HR software is a system that streamlines and automates human resource tasks like recruitment, payroll
      </p>
    </div>
  </div>
  </div>
  <div class="cards">
    <div class="card">
    <img class="card__image" src="./assets/de5.png" alt="Card Illustration">
    <div class="card__content">
      <p class="card__title">eLearning Software</p>
      <p class="card__description">
       eLearning software is a digital platform that delivers, manages, and tracks online education and training programs.
      </p>
    </div>
  </div>
  <div class="card">
    <img class="card__image" src="./assets/de6.png" alt="Card Illustration">
    <div class="card__content">
      <p class="card__title">eCommerce</p>
      <p class="card__description">
        eCommerce software enables businesses to buy and sell products or services online through digital
      </p>
    </div>
  </div>
  <div class="card">
    <img class="card__image" src="./assets/de7.png" alt="Card Illustration">
    <div class="card__content">
      <p class="card__title">Mobile App</p>
      <p class="card__description">
        Mobile apps are software applications designed to run on smartphones and tablets, providing specific
      </p>
    </div>
  </div>
  <div class="card">
    <img class="card__image" src="./assets/de8.png" alt="Card Illustration">
    <div class="card__content">
      <p class="card__title">Collabration and Productivity</p>
      <p class="card__description">
      Collaboration and productivity software enables teams to communicate, share files, and manage tasks
      </p>
    </div>
  </div>
  </div>
  <div class="cards">
    <div class="card">
    <img class="card__image" src="./assets/de9.png" alt="Card Illustration">
    <div class="card__content">
      <p class="card__title">Fleet Management Software</p>
      <p class="card__description">
       Fleet Management Software is a digital platform or system designed to help businesses manage
      </p>
    </div>
  </div>
  <div class="card">
    <img class="card__image" src="./assets/de10.png" alt="Card Illustration">
    <div class="card__content">
      <p class="card__title">Data Analytics</p>
      <p class="card__description">
        Data Analytics is the process of examining, cleaning, transforming, and modeling data to discover useful
      </p>
    </div>
  </div>
  <div class="card">
    <img class="card__image" src="./assets/de11.png" alt="Card Illustration">
    <div class="card__content">
      <p class="card__title">Web Portals</p>
      <p class="card__description">
       A Web Portal is a secure, web-based platform that serves as a centralized access point for information
      </p>
    </div>
  </div>
  <div class="card">
    <img class="card__image" src="./assets/de12.png" alt="Card Illustration">
    <div class="card__content">
      <p class="card__title">ITSM</p>
      <p class="card__description">
      ITSM (IT Service Management) refers to the strategic approach organizations use to design deliver.
      </p>
    </div>
  </div>
  </div>
  
</div>

