<div class="main">

  <div class="section2">
  <p>Our Projects</p>
  <h1>Our Recently Contributed Projects</h1>
</div>

<section class="project-section">
  <div class="project-grid">

    <div class="project-card">
      <img src="https://avatars.mds.yandex.net/i?id=63156ec395fa262ef7e7b245cb7d0fdb519c4de6-12728950-images-thumbs&n=13" alt="Project 1">
      <div class="project-title"><p>PixelNest <br>Perfect for a creative</p></div>
    </div>

    <div class="project-card">
      <img src="https://avatars.mds.yandex.net/i?id=62e85a61eafef4f4a1eff309da6a8332b955d1f2-10715561-images-thumbs&n=13" alt="Project 2">
      <div class="project-title"><p>NovaWebX <br>A futuristic name</p></div>
    </div>

    <div class="project-card">
      <img src="https://avatars.mds.yandex.net/i?id=05159515d014c0338b0cf8680824fb6d32792a88-6961938-images-thumbs&n=13" alt="Project 3">
      <div class="project-title"><p>BrightLayer <br>Suitable for design</p></div>
    </div>

    <div class="project-card">
      <img src="https://avatars.mds.yandex.net/i?id=d0544a09008e5576c6a2cb3cdfeb95ad-5134670-images-thumbs&n=13" alt="Project 4">
      <div class="project-title"><p>SkyForge Labs <br>Great for a solo</p></div>
    </div>

    <div class="project-card">
      <img src="https://avatars.mds.yandex.net/i?id=638bf2ad446db5f24893b51ac1d2f8a89e7f975d-12569904-images-thumbs&n=13" alt="Project 5">
      <div class="project-title"><p>LaunchLoop <br>Sounds advanced</p></div>
    </div>

    <div class="project-card">
      <img src="https://avatars.mds.yandex.net/i?id=638bf2ad446db5f24893b51ac1d2f8a89e7f975d-12569904-images-thumbs&n=13" alt="Project 6">
      <div class="project-title"><p>StackNinjas <br>Perfect for a digital</p></div>
    </div>

  </div>
</section>

</div>