<header class="navbar">
  <div class="logo">
    <img src="./assets/logo.png" alt="Bin Yousaf Logo">
  </div>

  <div class="hamburger" (click)="toggleMenu()">
    ☰
  </div>

  <ul class="nav-links" id="navLinks">
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/about">About</a></li>
    <li><a routerLink="/service">Service</a></li>
    <li><a routerLink="/technology">Technology</a></li>
    <li><a routerLink="/studio">Projects</a></li>
    <li><button class="contact-btn" routerLink="/contact">Contact</button></li>
  </ul>
</header>
