<app-navbar></app-navbar>
<div class="content">
  <h3>Our Services</h3>
  <h2 class="h2">Solutions Tailored for Your</h2>
  <h2>Business Success</h2>
</div>

  <section class="services-container">
    <div class="services-grid">
      <div class="service-card">
        <div class="card-hover"></div>
        <i class="fas fa-code"></i>
        <h3>Web Development</h3>
        <p>Responsive, user-friendly websites that perform flawlessly across devices. Using the latest technologies, we create high-quality websites designed to captivate users and drive business growth.</p>
      </div>
      <div class="service-card">
        <div class="card-hover"></div>
        <i class="fas fa-mobile-alt"></i>
        <h3>Mobile App Development</h3>
        <p>Feature-rich mobile apps for iOS and Android, built to match your business needs. With seamless functionality and engaging designs, we help you connect with your audience on any device.</p>
      </div>
      <div class="service-card">
        <div class="card-hover"></div>
        <i class="fas fa-project-diagram"></i>
        <h3>Custom Software Development</h3>
        <p>Tailored software solutions designed to overcome your unique challenges. We ensure seamless integration, scalability, and exceptional performance to help you achieve your goals efficiently.</p>
      </div>
      <div class="service-card">
        <div class="card-hover"></div>
        <i class="fas fa-bug"></i>
        <h3>Software Quality Assurance</h3>
        <p>Reliable, efficient, and error-free software is our promise. Our robust testing strategies ensure your digital solutions meet the highest standards of performance, security, and compliance.</p>
      </div>
      <div class="service-card">
        <div class="card-hover"></div>
        <i class="fas fa-laptop-code"></i>
        <h3>UI/UX Design</h3>
        <p>Reliable, efficient, and error-free software is our promise. Our robust testing strategies ensure your digital solutions meet the highest standards of performance, security, and compliance.</p>
      </div>
      <div class="service-card">
        <div class="card-hover"></div>
        <i class="fas fa-bullhorn"></i>
        <h3>Digital Marketing/SEO</h3>
        <p>We help businesses stand out online through advanced SEO, paid advertising, and content marketing — all focused on delivering leads, traffic, and measurable ROI.</p>
      </div>
    </div>
  </section>

  <app-footer></app-footer>