.services-container {
  padding: 60px 20px;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}
.content{
  padding-top: 25px;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 50px;
  justify-content: center;
}

.service-card {
  background-color: #fff;
  padding: 30px 20px;
  border-radius: 15px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  transition: transform 0.3s ease;
  position: relative;
  z-index: 1;
  height: 340px;
  cursor: pointer;
  box-shadow: 0 8px 24px rgba(85, 19, 60, 0.3), 0 4px 12px rgba(85, 19, 60, 0.2);

}

.service-card:hover {
  transform: translateY(-5px);
}

.card-hover {
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #A14D81;
  z-index: 0;
  transition: top 0.3s ease;
  border-radius: 15px;
}

.service-card:hover .card-hover {
  top: 0;
}

.service-card i {
  font-size: 40px;
  color: #2c2c2c;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}

.service-card h3 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 12px;
  position: relative;
  z-index: 1;
}

.service-card p {
  margin-top: 50px;
  font-size: 17px;
  color: #444;
  line-height: 1.6;
  position: relative;
  z-index: 1;
}

.service-card:hover i,
.service-card:hover h3,
.service-card:hover p {
  color: white;
}
.services-container{
  margin-top: 50px;
  font-family: 'Poppins', sans-serif;
}
.content h3{
  margin-top: 100px;
  display: flex;
  justify-content: center;
  font-size: 35px;
  font-family: sans-serif;
  
}
.content h2{
  display: flex;
  justify-content: center;
  color: #55133c;
  font-family: Saira, sans-serif;
font-size: 40px;
font-weight: 600;
line-height: 48px;
color: #55133c;
}
@media (max-width: 768px) {
  .content h2,
  .content .h2 {
    font-size: 1.6rem;
  }

  .service-card {
    padding: 20px 15px;
    height: auto;
  }
}

@media (max-width: 703px) {
  .service-card {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    height: 380px;
  }
}

@media (max-width: 600px) {
  .service-card {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
  }
}

@media (max-width: 550px) {
  .service-card {
    width: 100%;
    max-width: 340px;
    margin: 0 auto;
  }
}

@media (max-width: 1010px) {
  .service-card {
    height: 370px;
  }
}

@media (max-width: 400px) {
  .service-card {
    width: 100%;
    max-width: 280px;
    margin: 0 auto;
  }
}

@media (max-width: 1042px) {
  .service-card {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 680px) {
  .service-card {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
  }
}
