
<section class="tech-categories">
    <div class="container">
      <div class="heading">
        <h2 class="bounce-text">
          <span class="word">Technologies</span>
          <span class="word">About</span>
          <span class="word">Bin</span>
          <span class="word">Yousaf</span>
          <div class="line"></div>
        </h2>
      </div>
      <div class="category">
        <h3>Frontend Technologies</h3>
        <div class="tech-grid">
          <div class="tech-card"><img src="./assets/html.png" alt="HTML"><span>HTML5</span></div>
          <div class="tech-card"><img src="./assets/css.png" alt="CSS"><span>CSS3</span></div>
          <div class="tech-card"><img src="./assets/js.png" alt="JavaScript"><span>JavaScript</span></div>
          <div class="tech-card"><img src="./assets/angular.png" alt="Angular"><span>Angular</span></div>
          <!-- <div class="tech-card"><img src="https://avatars.mds.yandex.net/i?id=3e92a1125e4d389ae099ee8424599cb3f615640c-5269051-images-thumbs&n=13" alt="React"><span>React</span></div> -->
        </div>
      </div>
  
      <div class="category">
        <h3>Backend Technologies</h3>
        <div class="tech-grid">
          <div class="tech-card"><img src="./assets/node.png" alt="Node.js"><span>Node.js</span></div>
          <div class="tech-card"><img src="./assets/express.png" alt="Express"><span>Express</span></div>
          <div class="tech-card"><img src="./assets/dot.png" alt="Django"><span>Django</span></div>
          <div class="tech-card"><img src="./assets/laravel.png" alt="Laravel"><span>Laravel</span></div>
        </div>
      </div>
      <div class="category">
        <h3>DevOps & Cloud</h3>
        <div class="tech-grid">
          <div class="tech-card"><img src="./assets/doc.png" alt="Docker"><span>Docker</span></div>
          <div class="tech-card"><img src="./assets/aws.png" alt="AWS"><span>AWS</span></div>
          <div class="tech-card"><img src="./assets/c.png" alt="Firebase"><span>Firebase</span></div>
          <div class="tech-card"><img src="./assets/git.png" alt="GitHub"><span>GitHub</span></div>
        </div>
      </div>
  
    </div>
  </section>
