.about-section {
  padding: 60px 0;
  background-color: #ffffff;
  font-family: 'Segoe UI', sans-serif;
}

.about-container {
  width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}

.image-box {
  position: relative;
  top: 10%;
  flex: 1;
  min-width: 300px;
}
.image-box img:hover{
  transform: scale(1.1);
  transition: ease 1000ms;
}

.img-back {
  width: 80%;
  border-radius: 10px;
}

.img-front {
  position: absolute;
  bottom: -30px;
  left: 100px;
  width: 80%;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.text-box {
  flex: 1;
  min-width: 300px;
}

.section-title {
  color: #00b279;
  font-weight: bold;
  margin-bottom: 10px;
}

.text-box h2 {
  font-size: 32px;
  font-weight: 700;
  color: #111;
  margin-bottom: 40px;
}

.text-box p {
  font-size: 16px;
  color: #555;
  margin-bottom: 15px;
  line-height: 1.6;
}

.btn {
  display: inline-block;
  padding: 12px 25px;
  background-color: #00c06c;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #00a65c;
}
.img-front {
  position: absolute;
  bottom: -70px; /* Pehle -30px tha, ab zyada neeche */
  left: 100px;
  width: 80%;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}
button {
 position: relative;
 display: inline-block;
 cursor: pointer;
 outline: none;
 border: 0;
 vertical-align: middle;
 text-decoration: none;
 background: transparent;
 padding: 0;
 font-size: inherit;
 font-family: inherit;
}

button.learn-more {
 width: 12rem;
 height: auto;
}

button.learn-more .circle {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 position: relative;
 display: block;
 margin: 0;
 width: 3rem;
 height: 3rem;
 background: #9E2871;
 border-radius: 1.625rem;
}

button.learn-more .circle .icon {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 position: absolute;
 top: 0;
 bottom: 0;
 margin: auto;
 background: #fff;
}

button.learn-more .circle .icon.arrow {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 left: 0.625rem;
 width: 1.125rem;
 height: 0.125rem;
 background: none;
}

button.learn-more .circle .icon.arrow::before {
 position: absolute;
 content: "";
 top: -0.29rem;
 right: 0.0625rem;
 width: 0.625rem;
 height: 0.625rem;
 border-top: 0.125rem solid #fff;
 border-right: 0.125rem solid #fff;
 transform: rotate(45deg);
}

button.learn-more .button-text {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 padding: 0.75rem 0;
 margin: 0 0 0 1.85rem;
 color: #282936;
 font-weight: 700;
 line-height: 1.6;
 text-align: center;
 text-transform: uppercase;
}

button:hover .circle {
 width: 100%;
}

button:hover .circle .icon.arrow {
 background: #fff;
 transform: translate(1rem, 0);
}

button:hover .button-text {
 color: #fff;
}
.text-box{
    margin-bottom:10px;
}
.text-box p{
    font-size: 17.5px;
}
