<app-navbar></app-navbar>

<section class="hero">
    <div class="hero-content">
      <h1>Projects</h1>
      <p>Home / Pages / Projects</p>
    </div>
  </section>

  <section class="stats-section">
    <div class="stat-box">
      <h2>99</h2>
      <p>Success in getting happy customer</p>
    </div>
    <div class="stat-box">
      <h2>25</h2>
      <p>Thousands of successful business</p>
    </div>
    <div class="stat-box">
      <h2>120</h2>
      <p>Total clients who love HighTech</p>
    </div>
    <div class="stat-box">
      <h2>5</h2>
      <p>Stars reviews given by satisfied clients</p>
    </div>
  </section>

  <div class="section2">
    <p>Our Projects</p> 
    <h1>Our Recently Contributed Projects</h1>
  </div>
  <section class="project-section">
    <h2 style="text-align:center; margin-bottom: 40px;"></h2>

    <div class="project-grid">

      <div class="project-card">
        <img src="https://avatars.mds.yandex.net/i?id=dd81aa677105a6c88ac9667d91864bf9-4248470-images-thumbs&n=13" alt="Project 1">
        <div class="project-title"> <p>PixelNest <br>Perfect for a creative</p></div>
      </div>

      <div class="project-card">
        <img src="https://avatars.mds.yandex.net/i?id=e05e227f0a2897c279779eb28bb41267fe28c136-4436930-images-thumbs&n=13" alt="Project 2">
        <div class="project-title"> <p>NovaWebX <br>A futuristic name </p></div>
      </div>

      <div class="project-card">
        <img src="https://images.unsplash.com/photo-1519389950473-47ba0277781c" alt="Project 3">
        <div class="project-title"><p> BrightLayer <br>Suitable for design</p> </div>
      </div>

      <div class="project-card">
        <img src="https://avatars.mds.yandex.net/i?id=d0544a09008e5576c6a2cb3cdfeb95ad-5134670-images-thumbs&n=13" alt="Project 4">
        <div class="project-title"> <p>SkyForge Labs <br>Great for a solo </p></div>
      </div>

      <div class="project-card">
        <img src="https://images.unsplash.com/photo-1498050108023-c5249f4df085" alt="Project 5">
        <div class="project-title"> <p>LaunchLoop <br>Sounds advanced</p></div>
      </div>

      <div class="project-card">
        <img src="https://avatars.mds.yandex.net/i?id=8b9f38f5ee687c6ad0b83ae9be87bf3444477c74-8186552-images-thumbs&n=13" alt="Project 6">
        <div class="project-title"> <p>StackNinjas <br>Perfect for a digital</div>
      </div>

    </div>
  </section>
  <app-footer></app-footer>