<app-navbar></app-navbar>

<section class="hero">
  <div class="hero-content">
    <h1>Projects</h1>
    <p>Home / Pages / Projects</p>
  </div>
</section>

<section class="stats-section">
  <div class="stat-box">
    <h2>99</h2>
    <p>Success in getting happy customer</p>
  </div>
  <div class="stat-box">
    <h2>25</h2>
    <p>Thousands of successful business</p>
  </div>
  <div class="stat-box">
    <h2>120</h2>
    <p>Total clients who love HighTech</p>
  </div>
  <div class="stat-box">
    <h2>5</h2>
    <p>Stars reviews given by satisfied clients</p>
  </div>
</section>

<div class="section2">
  <p>Our Projects</p>
  <h1>Our Recently Contributed Projects</h1>
</div>

<section class="project-section">
  <div class="project-grid">

    <div class="project-card">
      <img src="./assets/p1.png" alt="Project 1">
      <div class="project-title"><p>PixelNest <br>Perfect for a creative</p></div>
    </div>

    <div class="project-card">
      <img src="./assets/p2.png" alt="Project 2">
      <div class="project-title"><p>NovaWebX <br>A futuristic name</p></div>
    </div>

    <div class="project-card">
      <img src="./assets/p3.png" alt="Project 3">
      <div class="project-title"><p>BrightLayer <br>Suitable for design</p></div>
    </div>

    <div class="project-card">
      <img src="./assets/p4.png" alt="Project 4">
      <div class="project-title"><p>SkyForge Labs <br>Great for a solo</p></div>
    </div>

    <div class="project-card">
      <img src="./assets/p6.png" alt="Project 5">
      <div class="project-title"><p>LaunchLoop <br>Sounds advanced</p></div>
    </div>

    <div class="project-card">
      <img src="./assets/p7.png" alt="Project 6">
      <div class="project-title"><p>StackNinjas <br>Perfect for a digital</p></div>
    </div>

  </div>
</section>

<app-footer></app-footer>