<div class="main">
  <div class="heading">
    <h1>Some Facts about Bin Yousaf Solutions</h1>
    <div class="line"></div>
  </div>

  <div class="images">
    <div class="img-box">
      <img src="https://uploads-ssl.webflow.com/5c98c492f5786d415aa3c82d/5d1f5c88fd31941536459755_Satisfaction%20rate.svg" alt="Satisfaction rate">
      <div class="info">
        <p>98%</p>
        <h4>Satisfaction Rate</h4>
      </div>
    </div>

    <div class="img-box">
      <img src="https://uploads-ssl.webflow.com/5c98c492f5786d415aa3c82d/5d1f5c8a719f5819c1ffe1e7_Successful%20projects.svg" alt="Successful projects">
      <div class="info">
        <p>100+</p>
        <h4>Successful Projects</h4>
      </div>
    </div>

    <div class="img-box">
      <img src="https://uploads-ssl.webflow.com/5c98c492f5786d415aa3c82d/5d1f5c89241e1b4ee22ae43d_Senior%20engineers.svg" alt="Countries">
      <div class="info">
        <p>8</p>
        <h4>Countries</h4>
      </div>
    </div>

    <div class="img-box">
      <img src="https://uploads-ssl.webflow.com/5c98c492f5786d415aa3c82d/5d1f5c8a62a0000ed2bc192d_Years%20%20on%20the%20market.svg" alt="Years on market">
      <div class="info">
        <p>13 Years</p>
        <h4>On the Market</h4>
      </div>
    </div>

    <div class="img-box">
      <img src="https://uploads-ssl.webflow.com/5c98c492f5786d415aa3c82d/5d1f5c8979afed167483a19c_Countries.svg" alt="Senior Engineers">
      <div class="info">
        <p>70%</p>
        <h4>Senior Engineers</h4>
      </div>
    </div>

    <div class="img-box">
      <img src="https://uploads-ssl.webflow.com/5c98c492f5786d415aa3c82d/5d1f5c8a719f5840a1ffe1ea_Team%20members.svg" alt="Team members">
      <div class="info">
        <p>10+</p>
        <h4>Team Members</h4>
      </div>
    </div>
  </div>
</div>
